<div>
    <p>
        Let's say you were choosing a family vacation.  Your options and criteria might be:
    </p>
    <table>
        <tr>
            <th>Options</th>
            <th>Criteria</th>
        </tr>
        <tr>
            <td>
                New York City
            </td>
            <td>
                Cost
            </td>
        </tr>
        <tr>
            <td>
                Camping
            </td>
            <td>
                Fun
            </td>
        </tr>
        <tr>
            <td>
                Ski Resort
            </td>
            <td>
                Educational Value
            </td>
        </tr>
        <tr>
            <td>
                Beach House
            </td>
            <td>
                Relaxation
            </td>
        </tr>
    </table>
</div>